.worksBlock {
    height: 100vh;
    background-color: rgba(162, 139, 139, 0.51);
    border: 1px solid ;
}
.workContainer {
    flex-direction: row;
    justify-content: center;
}
.works {

    border: 1px solid ;
    /*width: 100%;*/
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
