.worksBlock {
    min-height: 100vh;
    background-color: rgba(162, 139, 139, 0.51);
    border: 1px solid;

}

.workContainer {
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

.title {
}

.title h2 {
    font-family: 'Josefin Sans', sans-serif;
    position: relative;
    margin: 0px;
    font-weight: 300;
    color: #fff;
    text-transform: capitalize;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 5px;
}

.works {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and (max-width: 1129px) {
    .description {
        justify-content: space-between;
    }
}
