$textColor: #fae13f;
$primaryColor: #4c93e6;
$bgColor: #1f1f30; //впомогательный
$bgSecondColor: #252527;

$titleFontFamily: 'Josefin Sans', sans-serif; //title
$textFontFamily: 'Poppins', sans-serif;
